
body
{
    background-color: yellow;
    color : rgb(91, 165, 42);
}
    #call{
        color : blue;
    }
    .boring{
        font-size: 50px;
    }
    @media (max-width:600px){
        body
        {
            background-color: pink;
            
        }
    }
    